{lib_dirs, ["apps", "deps"]}.
{sub_dirs, [
    "apps/traffic_light"
]}.

{erl_opts, [
  debug_info,
  warnings_as_errors,
  warn_unused_vars,
  warn_export_all,
  {parse_transform, lager_transform}
]}.

{xref_checks, [undefined_function_calls]}. % export_not_used

% Enable eunit code coverage reports
{cover_enabled, true}.

% Enable eunit XML output
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{clean_files, ["logs", "test/*.beam", ".eunit/*"]}.

{deps,
    [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git"}},
        {sync, ".*", {git, "https://github.com/rustyio/sync.git"}},
        {uuid, ".*", {git, "git://gitorious.org/avtobiff/erlang-uuid.git"}},
        {meck, ".*", {git, "https://github.com/eproxus/meck.git"}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git"}}
    ]
}.

